.btn{
    padding: 8px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.btn:hover{
    opacity: 0.7;
}
.btn-insert{
    background-color: rgb(0, 245, 94);
}
.btn-update{
    color: white;
    background-color: blue;
}
.btn-delete{
    background-color: red;
    color: white;
}
.btn-get{
    background-color: greenyellow;
}